.input-city {
  font-size: 15px;
  padding: 8px;
  font-weight: 600;
  margin-bottom: 8px;
  border: 1px solid #ebe8e8;
  border-radius: 1px;
  color: #b3b0b0;
  font-weight: 400;
  cursor: pointer;
}
