.react-datepicker__current-month {
  /* color: var(--currentMonthColor); */
  font-size: 13px;

  font-weight: 500;
  letter-spacing: -0.32px;
}

.react-datepicker {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #3ab2f7;
  padding: 18px;
}

.react-datepicker__header {
  background: #fff;
  border: none;
}

.react-datepicker__navigation-icon--previous::before {
  border-color: #3ab2f7;
  width: 8px;
  height: 8px;
}

.react-datepicker__navigation-icon--next::before {
  border-color: #3ab2f7;
  width: 8px;
  height: 8px;
}

.react-datepicker__navigation--previous {
  top: 18px;
}

.react-datepicker__navigation--next {
  top: 18px;
}

.react-datepicker__day-names {
  margin-top: 14px;
  padding-top: 14px;
  border-top: 1px;
  border-top-color: #3ab2f7;
  border-top-style: solid;
  display: flex;
  gap: 11px;
}

.react-datepicker__day-name {
  /* color: var(--calendarDayNameColor); */
  font-size: 14px;
  /* font-family: var(--poppinsFont); */
  font-weight: 500;
  letter-spacing: 28;
  margin: 0px;
  width: 22px;
  height: 22px;
  margin-bottom: 11px;
}

.react-datepicker__day {
  /* color: var(--calendarCurrentMonthColor); */
  font-size: 14px;
  line-height: 18px;
  /* font-family: var(--poppinsFont); */
  letter-spacing: 28;
  margin: 0px;
}

.react-datepicker__day {
  min-width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-datepicker__day:hover,
.react-datepicker__day:focus {
  color: #3ab2f7;
  border-radius: 50%;
  background-color: #fff;
}

.react-datepicker__month {
  margin: 0px;
}

.react-datepicker__week {
  display: block;
  width: 22px;
  height: 22px;
  display: flex;

  gap: 11px;
}

.react-datepicker__day--disabled:hover,
.react-datepicker__day--disabled:focus {
  color: #ccc;
}
